{% extends "layouts/default.njk" %}

{% block body %}
  <p>Login Required</p>

  <form action="/login" method="post">
    <div>
      <label>Username:</label>
      <input type="text" name="user"/><br/>
    </div>
    <div>
      <label>Password:</label>
      <input type="password" name="pass"/>
    </div>
    <div>
      <input type="submit" value="Submit"/>
    </div>
  </form>
{% endblock %}
